/* Minnesota Vikings */
/*
    Master Theme File
    Created By: Adam Dillon
*/
/* --- Variables --- */
/* --- BACKGROUND COLOR (PRIMARY) --- */
.tabs .nav > li > a.current, .hdr_skn3, .hdr_skn, .welcome-comp .activation-block > a:hover,
.pmnav_lst, .pmnav_lst > ul > li > a.on, .pmnav_lst > ul > li.right, .sidebar > p,
.tags.list > li > a,
.comment_lst .notification, .welcome-comp .sportsline-section .btn2,
.sub-plans-list > li:first-of-type .sub-plan-link:hover, .sub-plans-list .sub-plan-link:hover,
.bottom-promo-block > .sub-plan-link:hover, .user-form-section > form .btn2,
.ajxpagn_lst .ajxlnk.current, .flyout_cmp.teams .tabnavigation_lst > li > .current,
.flyout_cmp.teams .tabnavigation_lst > li > .current:hover, .flyout_cmp.teams .tabnavigation_lst > li > a:hover,
.generic-main_lst.schedule .detaileditm_lst > .rating_itm > .btn2, .tab_blk > .tabcontent_blk > .tabsubnavigation_lst,
.drpdwn_blk li a.current, .profileinput_lst > li > .btn2,
.user-login-form > .btn2, .alias_frm > fieldset > .btn2, .body.article .realtimebrackets > a,
.forgotpassword_blk > form > .btn2, .tentpole_manage > form .btn2, .scorestats header > .switch_blk > a,
.scorestats header > .switch_blk > .league_anc, .rankingcmp_lst > .sub-hdr_itm,
.body.article .small-menu-block > ul,
.search-box > button, .countdown_blk > .countdown_row > .countdown_section > .countdown_amount, .countdown_blk > .title,
.userposthdr_itm > ul, .stats-page__nav > a:hover, .flyout_cmp .btn_close,
.tabs > .playstabnav_lst > li > a:hover, .tabs > .playstabnav_lst > li > .current, .tabs .statstabnav_lst > li > a:hover,
.tabs .statstabnav_lst > li > .current,
.tabs > .playerstatsnav_lst > li > a:hover, .tabs > .playerstatsnav_lst > li > .current, .stats-content > ul > li > a:hover,
.stats-content > ul > li > .current, .ri-page__nav-block > a:hover,
.list-content > .switch-blk > a:hover, .list-content > .switch-blk > .active, .content-list.ri-list > .list-header,
.projected-block > .team-score, .proj_frm > .btn2, .content-gallery > div > header .start-slideshow, .content-gallery > div > header .next-slideshow,
.content-gallery > div > header .previous-slide, .content-gallery > div > header .next-slide, .gallery_blk > .actionbar > li > a,
.enroll-comp__form button[type=submit], .enroll-comp__line, .class-calculator__score, .class-calculator__form .btn2 {
  background-color: #3B0160;
}

.scout-site .btn2, .scout-site .content-list.ri-list > .list-header {
  background-color: #3B0160;
}

/* --- COLOR (PRIMARY) --- */
a, .toolbar span, .toolbar a, .hdr_skn a.mbtn, .welcome-comp .activation-block > a,
.welcome-comp .sportsline-section > ul > li:last-of-type > .btn2, .welcome-comp .benefits-section > ul > li a,
.discuss > .comments > .showmore, .breakdownpg_lst > li > h4 > a > span,
.article.basic-comp > ul > li.active > a, .signin > .signin-block > form > button,
.profileinput_lst a, .toggle_anc, .trending-comp__headline h2, .trending-comp__rank,
.modal.tiny.signin_blk > .h_lst > li > b, .useraccount_hdr > .profile-top-nav > ul > li > a,
.useraccount_hdr > .profile-top-nav > ul > li > b, .useroptionlink_lst > li > a, .profile_frm > fieldset > legend > a,
.newsletter_fds > .tokeninput > .tokenwrapper > .token-input-list > .token-input-token span, .pmnav_lst > ul > li.text,
.pm_lst > li > .pm_blk > .pmcontent_blk > .quote, .pmnav_lst > ul > .text > a, .pmitm_lst > .content > p,
.ri-bar_lst > li > strong, .site-nav > .nsd-link, .ri-page__nav-block > a > span,
.network-bar-list > li > .dropdown.open, .network-bar-list > li > .dropdown.open > b, .recirc-strip > ol > li h3,
.countdown_blk > .countdown_row > .countdown_section, .stats-page__nav > a > span, .content-gallery > div > header .show-slides b,
.tabs > .playstabnav_lst > li > a, .tabs .statstabnav_lst > li > a, .vipconsole-list > li > h4 > a,
.tabs > .playerstatsnav_lst > li > a, .list-content > .switch-blk > a, .user-form-section .fieldset-list > li > .show-label.tran-label,
.showmore_blk > a, .body.article b a, .body.article span a, .news-feed .loadmore_blk p a > span, .class-calculator__nav > a > span,
.class-calculator__projected-list > li .remove-button span, .recruit-search-form__header > a > span {
  color: #3B0160;
}

a .icon-caret-down,
a .icon-caret-up {
  color: #3B0160;
}
a .icon-caret-down::before,
a .icon-caret-up::before {
  color: #3B0160;
}
a .icon-caret-down:hover::before,
a .icon-caret-up:hover::before {
  color: #fff;
}

.twitter-handle > .icon-twitter {
  color: #3B0160;
}

.top-left-flyout > ul > li > div > ul a {
  color: #3B0160;
}

@media only screen and (min-width: 768px) {
  .top-left-flyout > ul > li.open > a,
  .top-left-flyout > ul > li > a:hover {
    border-bottom: 3px solid #3B0160;
  }
}
@media only screen and (min-width: 950px) {
  .menu__list > li .nav-flyout a:hover,
  .top-left-flyout > ul > li > div > ul a:hover {
    border-bottom: 3px solid #3B0160;
  }
}
/* --- MISC --- */
/* --- Top thick border for drawers --- */
.drawer_blk > div {
  border-top: 6px solid #3B0160;
  border-bottom: 6px solid #3B0160;
}

/* --- Background highlight for current pagn --- */
.pagn a.active {
  font-weight: bold;
  background-color: #3B0160;
  color: #fff;
}

/* --- User Forms Border Color on Focus --- */
input[type=text].user-form-input:focus,
input[type=password].user-form-input:focus,
input[type=date].user-form-input:focus,
input[type=email].user-form-input:focus,
input[type=name].user-form-input:focus,
input[type=number].user-form-input:focus {
  border: 2px solid #3B0160;
}

/* --- Mobile border bottom on first post and rss feed nav bottom. + Menu flyout hover --- */
.topic_skn .cmp_bdy ol > li:first-of-type, .rss_blk > .tabnavigation_lst {
  border-bottom: 3px solid #3B0160;
}

/* --- Border colors --- */
.stats-page__nav > a, .tabs > .playstabnav_lst > li > a, .tabs .statstabnav_lst > li > a,
.tabs > .playerstatsnav_lst > li > a, .stats-content > ul > li > a, .ri-page__nav-block > a,
.list-content > .switch-blk > a, .welcome-comp .activation-block > a,
.welcome-comp .sportsline-section > ul > li:last-of-type > .btn2, .trending-comp__rank,
.class-calculator__nav > a {
  border: 1px solid #3B0160;
}

/* --- Arrow Color for Tooltip --- */
.flyout_cmp .tltp_arw_tp, .flyout_cmp .tltp_arw_bm, .flyout_cmp .tltp_arw_lt, .flyout_cmp .tltp_arw_rt {
  border-color: transparent transparent #a41cfa;
}

/* --- Component Headers --- */
.cmp_hdr.skn2 {
  background: linear-gradient(rgba(255, 255, 255, 0.35) 1%, rgba(0, 0, 0, 0) 55%);
  background-color: #FFC52F;
}

.cmp_hdr.skn3 {
  background: linear-gradient(rgba(255, 255, 255, 0.35) 1%, rgba(0, 0, 0, 0) 55%);
  background-color: #3B0160;
}

/* --- Bottom border --- */
.pm_lst > li, .ri-page .list-header > .name {
  border-bottom: 1px solid #3B0160;
}

/* --- Button Colors --- */
.btn, .btn:hover, .main .btn_skn1 {
  background-color: #3B0160;
  border-color: #3B0160;
}

/* --- Overlay Color for Header on subscription landing page --- */
.sub-landing-section > .graphic-header > .overlay {
  background-color: rgba(59, 1, 96, 0.35);
}

/* --- Custom Colors for carousel management pages --- */
.slot_lst_itm.skn2 {
  background-color: #fdfaff;
  border-top: 1px solid #d595fe;
  border-left: 1px solid #d595fe;
  border-right: 10px solid #d595fe;
}

.slot_lst_itm.skn3 {
  background-color: #d595fe;
  border-top: 1px solid #ad30fd;
  border-left: 1px solid #ad30fd;
  border-right: 10px solid #ad30fd;
}

.slot_lst_itm.active {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFFEA7;
}

/* --- New Menu --- */
.user-menu, .small-menu > .secondary-lst,
.myboards-menu.dropdown-item, .myaccounts-menu.dropdown-item, .homesite-dropdown.dropdown-item {
  background-color: #350156;
}

.search-form button {
  color: #3B0160;
}

.social-menu > li > span {
  color: rgba(59, 1, 96, 0.8);
}

body .small-menu, body .header-wrapper, body .main-header {
  background-color: #3B0160;
}

.user-menu > ul,
.nav-bar__container,
.menu__list,
body .dropdown-item {
  background-color: #3B0160;
}

/* --- border top on article and quote index --- */
.comp.article article, .comp.quote article {
  border-top: solid 4px #3B0160;
}

/* --- quote specific --- */
.quotehdr_nav_blk > .rightarrow_itm,
.quoteoptions_lst > li > .rtup,
.quoteoptions_lst > li > .rtd,
.quotefilter_blk .btn2, .quotefilter_blk > ul > li > a {
  background-color: #3B0160;
}

.quote.basic-comp > ul > li.active > a,
.quotehdr_nav_blk > .leftarrow_itm b,
.quoteoptions_lst > .votecount_itm,
.quoteoptions_lst.skn2 > .count_itm,
.arrowpagn_blk > ul > li > a > b {
  color: #3B0160;
}

/* --- Vip Console --- */
.vipconsole-cmp > footer > p > a {
  color: #3B0160;
}

.pointerevents .menu__list > li.hoverable::after, .no-touchevents .menu__list > li.hoverable::after, .menu__list > li.touched::after {
  border-bottom: 9px solid #3B0160;
}

/* --- my games in score strip --- */
.scores-list > li.fav-team {
  border-bottom: solid 4px #3B0160;
}

.network-bar {
  background-color: #350156;
}

.nav-bar {
  background-color: #3B0160;
}

.nav-flyout, .flyout_cmp, .watch-live-video-dropdown.expanded {
  border-color: #a41cfa;
}

.menu__list > li.hoverable::after {
  border-bottom: 9px solid #a41cfa;
}

.pointerevents .menu__list > li:hover > a > span, .no-touchevents .menu__list > li:hover > a > span, .touch .menu__list > li.touched > a > span, .no-touch .menu__list > li:hover > a > b, .touch .menu__list > li.touched > a > b {
  color: #a41cfa;
}

/* --- User conflict form --- */
.signin_lst.skn2 > li > .signin_fld, .user-register > div > .alias-conflict-form > fieldset > ul > li:first-child input {
  background: #3B0160;
}

.signin_lst.skn2 > li > input[type=radio]:checked ~ .signin_fld label > span::before {
  background: rgba(59, 1, 96, 0.6);
}

.signin_lst.skn2 > li label > span::before {
  border: solid 4px #3B0160;
}

.user-register > div > .alias-conflict-form > fieldset .btn2:disabled, .user-register > div > .alias_frm > fieldset > .btn2:disabled {
  background: rgba(59, 1, 96, 0.6);
}

.signin_lst.skn2 > li.manual .signin_fld > input {
  color: #3B0160;
}

/* --- Home Component Colors --- */
.comp-hdr, .enroll-comp__header {
  border-bottom: solid 2px #3B0160;
}

.home-comp > header {
  border-bottom: solid 2px #3B0160;
}

.main-div .article-wpr .article-cnt__footer__comments {
  color: #3B0160;
  border: 1px solid #3B0160;
}
.main-div .article-wpr .article-cnt__footer__comments span {
  color: #3B0160;
}
.main-div .article-wpr .article-cnt__footer__comments:hover, .main-div .article-wpr .article-cnt__footer__comments.active {
  background-color: #3B0160;
  color: #fff;
}

.article-list__list-item.current::before {
  background-color: #3B0160;
}

.gallery-card__footer a span {
  background-color: #3B0160;
}
.gallery-card__footer a .icon-arrow-right {
  background-color: #3B0160;
}

/* --- Comments --- */
.posts__tabs-list li a.selected::after, .posts__tabs-list li span.selected::after {
  content: "";
  border-bottom: solid 2px #3B0160;
}
.posts__footer .reply {
  color: #3B0160;
}

/* Team rank current team */
.team-rank-comp__list-item.current {
  background: rgba(59, 1, 96, 0.1);
}
.current.team-rank-comp__list-item .team-rank-comp__rank {
  color: #3B0160;
  font-weight: 700;
}
.current.team-rank-comp__list-item .team-rank-comp__link {
  color: #3B0160;
  font-weight: 700;
}
.current.team-rank-comp__list-item .team-rank-comp__rating {
  color: #3B0160;
  font-weight: 700;
}

/* Progress bar */
.progress .progress-bar .circle.read {
  border-color: #3B0160;
  color: #3B0160;
}
.progress .progress-bar .line-svg .highlight {
  stop-color: #3B0160;
}

/* team index page */
.conference-name span {
  border-bottom: 1px solid #3B0160;
}

.league-nav a {
  border: 1px solid #3B0160;
}
.league-nav a:hover, .league-nav a.active {
  background-color: #3B0160;
}

/* Commits ranking bar */
.ir-bar__ranks h3 {
  color: #3B0160;
}
.ir-bar__number {
  color: #3B0160;
}

.expert-ranking .nav-block > a,
.target-prediction .nav-block > a,
.expert-prediction .nav-block > a,
.institution-prediction .nav-block > a,
.player-institution-prediction .nav-block > a,
.recruit-search .nav-block > a {
  color: #3B0160;
  border: 1px solid #3B0160;
}
.expert-ranking .nav-block > a span,
.target-prediction .nav-block > a span,
.expert-prediction .nav-block > a span,
.institution-prediction .nav-block > a span,
.player-institution-prediction .nav-block > a span,
.recruit-search .nav-block > a span {
  color: #3B0160;
}
.expert-ranking .nav-block > a:hover, .expert-ranking .nav-block > a.active,
.target-prediction .nav-block > a:hover,
.target-prediction .nav-block > a.active,
.expert-prediction .nav-block > a:hover,
.expert-prediction .nav-block > a.active,
.institution-prediction .nav-block > a:hover,
.institution-prediction .nav-block > a.active,
.player-institution-prediction .nav-block > a:hover,
.player-institution-prediction .nav-block > a.active,
.recruit-search .nav-block > a:hover,
.recruit-search .nav-block > a.active {
  background-color: #3B0160;
  color: #fff;
}
.expert-ranking .nav-block > a span,
.target-prediction .nav-block > a span,
.expert-prediction .nav-block > a span,
.institution-prediction .nav-block > a span,
.player-institution-prediction .nav-block > a span,
.recruit-search .nav-block > a span {
  color: #3B0160;
}
.expert-ranking .heading li > span,
.target-prediction .heading li > span,
.expert-prediction .heading li > span,
.institution-prediction .heading li > span,
.player-institution-prediction .heading li > span,
.recruit-search .heading li > span {
  border-bottom: 1px solid #3B0160;
}
.expert-ranking .picks > ul > li,
.target-prediction .picks > ul > li,
.expert-prediction .picks > ul > li,
.institution-prediction .picks > ul > li,
.player-institution-prediction .picks > ul > li,
.recruit-search .picks > ul > li {
  color: #3B0160;
}
.expert-ranking .picks > ul > li > span,
.target-prediction .picks > ul > li > span,
.expert-prediction .picks > ul > li > span,
.institution-prediction .picks > ul > li > span,
.player-institution-prediction .picks > ul > li > span,
.recruit-search .picks > ul > li > span {
  color: #3B0160;
}
.expert-ranking .picks > ul > li:nth-of-type(2) > span,
.target-prediction .picks > ul > li:nth-of-type(2) > span,
.expert-prediction .picks > ul > li:nth-of-type(2) > span,
.institution-prediction .picks > ul > li:nth-of-type(2) > span,
.player-institution-prediction .picks > ul > li:nth-of-type(2) > span,
.recruit-search .picks > ul > li:nth-of-type(2) > span {
  color: #3B0160;
}
.expert-ranking .cb-player-list .target ul .predicted-by > a > span:first-of-type,
.target-prediction .cb-player-list .target ul .predicted-by > a > span:first-of-type,
.expert-prediction .cb-player-list .target ul .predicted-by > a > span:first-of-type,
.institution-prediction .cb-player-list .target ul .predicted-by > a > span:first-of-type,
.player-institution-prediction .cb-player-list .target ul .predicted-by > a > span:first-of-type,
.recruit-search .cb-player-list .target ul .predicted-by > a > span:first-of-type {
  color: #3B0160;
}

.recruit-search .form-section input {
  border-color: #3B0160;
}
.recruit-search .form-section input::placeholder {
  color: #3B0160;
}
.recruit-search .form-section button {
  fill: #3B0160;
}
.recruit-search .link-list .count {
  color: #3B0160;
}

.recruit-list > header {
  border-bottom: 2px solid #3B0160;
}

.team-rank-comp > header {
  border-bottom: 2px solid #3B0160;
}

.latest_cmp > header {
  border-bottom: 2px solid #3B0160;
}

.recruit-list.coach-list {
  margin-bottom: 25px;
}

/* All time commits */
.all-time-commits__circle-rank {
  border: 1px solid #3B0160;
  color: #3B0160;
}
.all-time-commits__class span {
  color: #3B0160;
}

.rankings-page__toggle-composite > a, .rankings-page__nav-block > a {
  border: 1px solid #3B0160;
}
.rankings-page .list-header > .rank {
  border-bottom: 1px solid #3B0160;
}

.filter-tools a {
  color: #3B0160;
}
.filter-tools a:last-of-type {
  border-color: #3B0160;
}

.react-pagination li a, .react-pagination li span {
  color: #3B0160;
}
.react-pagination li.active {
  background-color: #3B0160;
  border-color: #3B0160;
  color: #fff;
}
.react-pagination li.active a, .react-pagination li.active a:hover {
  background-color: #3B0160;
  border-color: #3B0160;
  color: #fff;
}

/* User subsciption Page */
.new_blk .plan_blk.annual {
  border-color: #3B0160;
}
.new_blk h1 {
  color: #3B0160;
}
.new_blk .bullet-check {
  fill: #3B0160;
}

/* Transfer Portal */
.portal-page .header-nav > a {
  border-color: #3B0160;
}

/*# sourceMappingURL=Site379.css.map */
